<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.springboot.dao.AccountMapper">

    <resultMap id="accountMap" type="com.example.springboot.domain.Account">
        <id column="Account_Id" property="accountId"/>
        <result column="Premise_State_Cd" property="premiseStateCd"/>
        <result column="Test_or_Control_Ind" property="testOrControlIndicator"/>
        <result column="Part_Begin_Dt" property="partBeginDate"/>
    </resultMap>

    <select id="findAll" resultMap="accountMap">
        SELECT TOP (10) Premise_State_Cd, Account_Id, Test_or_Control_Ind, Part_Begin_Dt
        FROM zAdhoc.Feng_MyHER_Participants
        WHERE Premise_State_Cd = 'KY';
    </select>

    <update id="addEnrollment" parameterType="int">
        update zAdhoc.Feng_MyHER_Participants set Test_or_Control_Ind = 'T', Part_Begin_Dt = GETDATE() where Account_Id = #{id}
    </update>

</mapper>
