<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.springboot.dao.CustomerMapper">

    <resultMap id="customerMap" type="com.example.springboot.domain.Customer">
        <id column="CustomerID" property="customerID"/>
        <result column="NameStyle" property="nameStyle"/>
        <result column="Title" property="title"/>
        <result column="FirstName" property="firstName"/>
        <result column="MiddleName" property="middleName"/>
        <result column="LastName" property="lastName"/>
    </resultMap>

    <select id="findAll" resultMap="customerMap">
        SELECT TOP (10) CustomerID, NameStyle, Title, FirstName, MiddleName, LastName
        FROM [SalesLT].[Customer];
    </select>

</mapper>
